/* Origination */
body, table {
    /* Font */
    text-align: center;
    font-size: 16px;
    font-family: "Arial Rounded MT", "Arial", "Helvetica Neue", Helvetica, sans-serif;
}
body, input {
    /* Color */
    background-color: rgb(217, 236, 246);
}

/* Cool */
.cool {
    position: fixed;
    height: 4px;
    width: 100%;
    background-color: blueviolet;
    background-image: linear-gradient(to right, blue, blueviolet);
    left: 0;
    top: 0;
}

p, li {
    font-size: 16px;
    line-height: 24px;
}

/* Table */
table {
    /* Position */
    margin: 10px auto;
    border-spacing: 0;
    border-radius: 15px;
    border: solid gray 1px;
    /* Color */
    background-color: white;
}
th, td {
    padding: 10px;
}

/** Courses **/
th {
    /* Position */
    padding: 10px;
    border-bottom: solid gray 1px;
}
/* td */
tbody.courses td {
    /* Position */
    padding: 10px 20px;
}
/* input */
input, select, button {
    /* Position */
    padding: 5px;
    border: 1px black solid;
    border-radius: 6px;
    /* Color */
    color: black;
    background-color: white;
}
select {
    /* Position */
    padding: 4px;
}
tbody.courses span {
    /* Font */
    font-family: Arial;
    font-size: 14px;
}

button.gradeOption {
    border: 1px gray solid;
    border-radius: 0;
    width: 100px;
    cursor: pointer;
}
button.gradeOption:first-of-type {
    border-radius: 10px 0 0 10px;
    margin: 0 -5px 0 0;
}
button.gradeOption:last-of-type { border-radius: 0 10px 10px 0; }
button.gradeOption:hover { background-color: lightgray; }
button.selectedGradeOption {
    background-color: lightgray;
    border-bottom: 3px solid black;
}

/* GPA */
span.gpa {
    /* Color */
    color: currentColor;
    /* Cursor */
    cursor: default;
}

/* Warn */
.warn {
    /* Position */
    display: none;
    margin: 0;
    /* Color */
    color: red;
}

/** FAQ **/
div.FAQ {
    /* Position */
    margin: auto;
    padding: 10px 30px;
    max-width: 750px;
    min-width: 250px;
    border: 1px solid gray;
    border-radius: 20px;
    /* Font */
    text-align: left;
    /* Color */
    background-color: white;
}
div.FAQ h1 { text-decoration: underline; }
div.FAQ a { color: black; }
div.FAQ a:hover { color: blue; }

/* Footer */
footer, footer a {
    /* Position */
    margin: 20px 0;
    /* Color */
    color: gray;
    /* Font */
    text-decoration: none;
}
a:hover {
    /* Font */
    text-decoration: underline;
}

@media (pointer:none), (pointer:coarse) {
    /** General **/
    p {
        line-height: 30px;
        font-size: 30px;
    }
    label {
        font-size: 24px;
    }
    table, select, button, input {
        font-size: 24px;
        padding: 10px 5px;
    }
    select {
        border-radius: 15px;
    }
    input {
        border-radius: 10px;
    }
    footer {
        font-size: 18px;
    }
    /* Table */
    table {
        border-radius: 30px;
    }
    th, td {
        padding: 15px 10px;
    }
    td p, td select {
        margin: 10px 0;
    }
    td input {
        margin: 0;
    }
    /* Grade Option Button */
    button.gradeOption {
        margin: -5px;
        width: 200px;
    }
    button.gradeOption:first-of-type {
        border-radius: 20px 0 0 20px;
        margin: 0 -3.5px 0 10px;
    }
    button.gradeOption:last-of-type {
        border-radius: 0 20px 20px 0;
        margin: 0 10px 0 -3.5px;
    }
    /* FAQ */
    div.FAQ {
        width: 90%;
        padding: 19px 40px;
        border-radius: 40px;
    }
    div.FAQ p, li {
        line-height: 30px;
        font-size: 18px;
    }
    div.FAQ h1 {
        font-size: 32px;
    }
}